<h1>Add Monster</h1>
<%= form_for @Monster do |f| %>
  <%= f.label "Name" %>
  <%= f.text_field :name %>
  <%= f.label "Tags" %>
  <%= f.text_field :tags %>
  <%= f.label "Armor Class" %>
  <%= f.text_field :ac %>
  <%= f.label "HP" %>
  <%= f.text_field :hp %>
  <%= f.label "Ground Speed" %>
  <%= f.text_field :ground_speed%>
  <%= f.label "Fly Speed" %>
  <%= f.text_field :fly_speed %>
  <%= f.label "STR" %>
  <%= f.text_field :str %>
  <%= f.label "DEX" %>
  <%= f.text_field :dex %>
  <%= f.label "CON" %>
  <%= f.text_field :con %>
  <%= f.label "INT" %>
  <%= f.text_field :int %>
  <%= f.label "WIS" %>
  <%= f.text_field :wis %>
  <%= f.label "CHA" %>
  <%= f.text_field :cha %>
  <%= f.label "Damage Immunity" %>
  <%= f.text_field :damage_immunity %>
  <%= f.label "Condition Immunity" %>
  <%= f.text_field :condition_immunity %>
  <%= f.label "Senses" %>
  <%= f.text_field :senses %>
  <%= f.label "Languages" %>
  <%= f.text_field :languages %>
  <%= f.label "Challenge Rating" %>
  <%= f.text_field :challenge %>
  <%= f.label "Actions" %>
  <%= f.text_field :action %>
  <%= f.submit%>
<% end %>
