<h1><%=@Monster.name %></h1>
<p>Tags: <%= @Monster.tags%></p>
<p>Armor Class: <%= @Monster.ac%></p>
<p>HP: <%= @Monster.hp%></p>
<p>Ground Speed: <%= @Monster.ground_speed%></p>
<p>Fly Speed: <%= @Monster.fly_speed%></p>
<p>STR: <%= @Monster.str%></p>
<p>DEX: <%= @Monster.dex%></p>
<p>CON: <%= @Monster.con%></p>
<p>INT: <%= @Monster.int%></p>
<p>WIS: <%= @Monster.wis%></p>
<p>CHA: <%= @Monster.cha%></p>
<p>Damage Immunity: <%= @Monster.damage_immunity%></p>
<p>Condition Immunity: <%= @Monster.condition_immunity%></p>
<p>Senses: <%= @Monster.senses%></p>
<p>Languages: <%= @Monster.languages%></p>
<p>Challenge Rating: <%= @Monster.challenge%></p>
<p>Actions: <%= @Monster.action%></p>